.forgotPassword{
  background-color: #f2f2f2;
  display: grid;
  place-items: center;
  height: 100vh;
}

.forgotPassword__container{
  display: flex;
  flex-direction: column;
  width: 400px;
}


.forgotPassword__submit {
  background-color: #3079ed;
  text-transform: capitalize !important;
  margin: 15px !important;
}

.forgotPasssword__container > form {
  display: flex;
  flex:1;
  flex-direction: column;
}

.forgotPassword__error{
  background-color: white;
  color:red;
  text-align: right;
  padding: 2px;
}

.forgotPassword__container > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}
