.signup{
  background-color: #f2f2f2;
  display: grid;
  place-items: center;
  height: 100vh;
}

.signup__container{
  display: flex;
  flex-direction: column;
}

.signup__container > img {
  object-fit: contain;
  height: 200px;
}

.signup__submit {
  background-color: #3079ed;
  text-transform: capitalize !important;
  margin: 15px !important;
}

.signup__container > form {
  display: flex;
  flex:1;
  flex-direction: column;
}

.signup__error{
  background-color: white;
  color:red;
  text-align: right;
  padding: 2px;
}
.signup__container > form > input {
  height: 30px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}
